p.note {
    font-style: italic;
    background-color: lightgray;
    font-size: 0.7em;
    top: 17px;
    position: relative;
}

p.itemTitle {
    font-weight: bold;
    font-style: oblique;
}

ion-fab.fab-horizontal-end.fab-vertical-bottom.hydrated {
    top: 0px;
}

span.value2 {
    right: 4em;
    position: absolute;
    top: 0em;
}