<ion-item>
  <p slot="start" class="itemTitle">{{ Item?.getTitle().value }}</p>
  <div>
    <span [ngSwitch]="Item?.getValue2().value">
      <p slot="start" class="note" *ngSwitchCase="true">
        {{ Item?.getNote().value }}
      </p>
    </span>
  </div>
  <span class="value2" slot="start" style="white-space: nowrap;">
    {{ Item?.getValue2().label }}:{{ Item?.getValue2().value }}
  </span>
  <div>
    <span [ngSwitch]="Item?.hasQuickActions()">
      <div *ngSwitchCase="true">
        <ion-fab vertical="bottom" horizontal="end">
          <ion-fab-button size="small"
            ><ion-icon name="flash" color="energetic"></ion-icon
          ></ion-fab-button>
          <ion-fab-list side="start">
            <ion-fab-button *ngFor="let action of Item?.getQuickActions()"
              ><ion-icon
                (click)="doAction(action)"
                name="{{ action?.getIcon() }}"
              ></ion-icon
            ></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </div>
      <p *ngSwitchCase="false"></p>
      <p *ngSwitchDefault></p>
    </span>
  </div>
</ion-item>
